## What are loops?
- A loop is a control structure that is used to perform a set of instructions for a specific number of times.

##### Loops are a programming element that repeat a portion of code a set number of times until the desired process is complete. Repetitive tasks are common in programming, and loops are essential to save time and minimize errors.

In [1]:
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")

Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot

## While loop
- The while loop keeps iterating over a certain set of operations as long as a certain condition holds True.

In [2]:
## Shopping list example

![image](../photos/whileloop.jpeg)

In [4]:
# 1. Initialisation
start = 0

# 2. Write condition in while loop
while start < 5:
    print("Helicopter Shot!!")
    # 3. Update the value
    start += 1
    
print("Lesson Taught :)")

Helicopter Shot!!
Helicopter Shot!!
Helicopter Shot!!
Helicopter Shot!!
Helicopter Shot!!
Lesson Taught :)

## Print numbers from 1 to 10

In [5]:
start = 1

while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
start = 1

while start < 11:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

## Print numbers from 10 to 1

In [9]:
start = 10

while start > 0:
    print(start)
    start -= 1

10
9
8
7
6
5
4
3
2
1

In [10]:
start = 10

while start >= 1:
    print(start)
    start -= 1

10
9
8
7
6
5
4
3
2
1

In [11]:
start = 10

while start >= 1:
    print("Rahul")
    start -= 1

Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul

## Print all even numbers between 2 to 10

In [12]:
# check for a number if it is even

In [14]:
start = 2

while start <= 10:
    if start % 2 == 0:
        print(start)
        
    start += 1

2
4
6
8
10

In [15]:
start = 2

while start <= 10:
    print(start)
    start += 2

2
4
6
8
10

## Print all Odd number from 1 to 10

In [16]:
# odd

In [17]:
# Using if condition

# and using jump of 2

### Print all numbers from 1 to 10 in a single line

In [18]:
# Go for print statement

In [19]:
# print?

In [20]:
start = 1

while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [21]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [22]:
print(2,3,4,5,6,7)

2 3 4 5 6 7

In [23]:
print(2,3,4,5,6,7, sep=" --> ")

2 --> 3 --> 4 --> 5 --> 6 --> 7

In [27]:
print(2, 3, 4, sep = " --> ", end=" ")
print("Rahul")

2 --> 3 --> 4 Rahul

In [29]:
start = 1

while start <= 10:
    print(start, end=" ")
    start += 1

1 2 3 4 5 6 7 8 9 10

####  Take T number of inputs and print their tables

In [30]:
# Take n as input and print the table of n

In [35]:
n = int(input())
start = n

while start <= n * 10:
    print(start, end=" ")
    start += n

 19

19 38 57 76 95 114 133 152 171 190

In [36]:
# Take T number of inputs

In [40]:
T = int(input("This is value of T: "))

while T > 0:
    n = int(input("This is value of n: "))
    T -= 1

This is value of T:  2
This is value of n:  34
This is value of n:  21

In [41]:
# Let's combine these two codes:

In [42]:
T = int(input("This is value of T: "))

while T > 0:
    n = int(input("This is value of n: "))
    T -= 1
    
    # We will print table of n using following code
    start = n

    while start <= n * 10:
        print(start, end=" ")
        start += n

This is value of T:  3
This is value of n:  12

12 24 36 48 60 72 84 96 108 120

This is value of n:  19

19 38 57 76 95 114 133 152 171 190

This is value of n:  29

29 58 87 116 145 174 203 232 261 290

### For loops

In [43]:
# range

In [44]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2, 9))

[2, 3, 4, 5, 6, 7, 8]

In [46]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [47]:
list(range(2, 10, -2))

[]

In [48]:
list(range(10, 4, -2))

[10, 8, 6]

In [49]:
list(range(50, 50))

[]

In [50]:
list(range(10, 2))

[]

In [51]:
# Quiz

In [52]:
print(list(range(8, 8)))

[]

In [53]:
# for iterator in iterable:
#     Do something

### Print numbers between 1 to 10

In [55]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [57]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [58]:
for i in range(10):
    print("Rahul")

Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul

### Get sum of first 10 Natural numbers

In [61]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
total = 0

for i in range(1, 11):
    total += i
    
print(total)

55

In [69]:
total = 0

for i in range(1, 11):
    total += i
    print(total, i, sep=" --> ")
    
print(total)

1 --> 1
3 --> 2
6 --> 3
10 --> 4
15 --> 5
21 --> 6
28 --> 7
36 --> 8
45 --> 9
55 --> 10
55

In [66]:
# Quiz

In [67]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

### Take a number N as input and print values from N to 1

In [70]:
n = int(input())

 10

In [72]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
for i in range(n, 0, -1):
    print(i, end="  ")

10  9  8  7  6  5  4  3  2  1

In [78]:
# HW: Print even and odd numbers between 1-10 using for loop
# With jump
# using if-else