## What are loops?
- A loop is a control structure that is used to perform a set of instructions for a specific number of times.

##### Loops are a programming element that repeat a portion of code a set number of times until the desired process is complete. Repetitive tasks are common in programming, and loops are essential to save time and minimize errors.

In [2]:
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")
print("Helicopter shoot")

Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot

## While loop
- The while loop keeps iterating over a certain set of operations as long as a certain condition holds True.

In [3]:
## Shopping list example

![image](../photos/whileloop.jpeg)

In [4]:
# 1. Initialisation
start = 0

# 2. Define while condition
while start < 5:
    print("Helicopter shoot")
    # Update
    start += 1
    
print("Lesson taught")

Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Lesson taught

In [5]:
# 1. Initialisation
start = 0

# 2. Define while condition
while start <= 5:
    print("Helicopter shoot")
    # Update
    start += 1
    
print("Lesson taught")

Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Helicopter shoot
Lesson taught

## Print numbers from 1 to 10

In [6]:
start = 1

while start < 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9

In [7]:
start = 1

while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [8]:
start = 1

while start < 11:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

## Print numbers from 10 to 1

In [9]:
start = 10

while start >= 1:
    print(start)
    start -= 1

10
9
8
7
6
5
4
3
2
1

## Print all even numbers between 2 to 10

In [10]:
# check for a number if it is even

In [12]:
start = 2

while start <= 10:
    # check if that number is even
    if start % 2 == 0:
        print(start)
    start += 1

2
4
6
8
10

In [13]:
start = 2

while start <= 10:
    print(start)
    start += 2

2
4
6
8
10

## Print all Odd number from 1 to 10

In [14]:
# odd

In [15]:
# Using if condition

# and using jump of 2

### Print all numbers from 1 to 10 in a single line

In [16]:
# Go for print statement

In [17]:
# print?

In [18]:
start = 1

while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [19]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [21]:
# A sep works while printing values of a single print function

In [22]:
print(1,2,3,4,5,6)

1 2 3 4 5 6

In [24]:
print("Ahish", "Shiva", "Rahul")

Ahish Shiva Rahul

In [25]:
print(12343)

12343

In [27]:
print(1, 2, 3, 4)
print("rahul", 4)

1 2 3 4
rahul 4

In [30]:
print(1, 2, 3, 4, sep=" --> ", end=" ")
print(5, 6)

1 --> 2 --> 3 --> 4 5 6

In [32]:
start = 1

while start <= 10:
    print(start, end=" ")
    start += 1

1 2 3 4 5 6 7 8 9 10

In [36]:
start = 1

while start <= 10:
    if start == 10:
        print(start)
    else:
        print(start, end=", ")
    start += 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10

In [39]:
# print() --> blank new line
print()
print()
print()

####  Take T number of inputs and print their tables

In [40]:
# Take n as input and print the table of n

In [41]:
start = 4

while start <= 40:
    print(start)
    start += 4

4
8
12
16
20
24
28
32
36
40

In [43]:
n = int(input())
start = n

while start <= n * 10:
    print(start)
    start += n

 5

5
10
15
20
25
30
35
40
45
50

In [44]:
# Take T number of inputs

In [45]:
T = 3

while T > 0:
    n = int(input())
    T -= 1

 3
 4
 5

In [46]:
T = int(input())

while T > 0:
    n = int(input())
    T -= 1

 3
 56
 34
 32

In [47]:
T = int(input())

while T > 0:
    print(T)
    T -= 1

 3

3
2
1

In [50]:
T = int(input())
start = 0

while start < T:
    n = int(input())
    start += 1

 3
 1
 2
 3

In [48]:
# Let's combine this code:

In [49]:
T = int(input())

while T > 0:
    n = int(input())
    T -= 1
    
    
    start = n
    while start <= n * 10:
        print(start)
        start += n

 3
 12

12
24
36
48
60
72
84
96
108
120

 19

19
38
57
76
95
114
133
152
171
190

 21

21
42
63
84
105
126
147
168
189
210

### For loops

In [52]:
# range

In [53]:
list(range(5))

[0, 1, 2, 3, 4]

In [54]:
list(range(2, 6))

[2, 3, 4, 5]

In [55]:
list(range(2, 6, 3))

[2, 5]

In [56]:
list(range(10, 2))

[]

In [57]:
list(range(6, 2, -1))

[6, 5, 4, 3]

In [59]:
list(range(10, 2))

[]

### Print numbers between 1 to 10

In [61]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Get sum of first 10 Natural numbers

In [64]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [65]:
total = 0

for i in range(1, 11):
    total += i
    
    
print(total)

55

In [66]:
total = 0

for i in range(1, 11):
    total += i
    print(total)
    
#print(total)

1
3
6
10
15
21
28
36
45
55

In [67]:
total = 0

for i in range(1, 11):
    total += i

    
print(total)

55

### Take a number N as input and print values from N to 1

In [68]:
n = int(input())

for i in range(n, 0, -1):
    print(i)

 10

10
9
8
7
6
5
4
3
2
1

In [69]:
n = int(input())

for i in range(n, 0, -1):
    print(i, end=" ")

 14

14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [70]:
# Quiz

In [71]:
print(list(range(8, 8)))

[]

In [72]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [73]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
list(range(4))

[0, 1, 2, 3]

In [75]:
list(range(5))

[0, 1, 2, 3, 4]

In [76]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [79]:
# HW: Print even and odd numbers between 1-10 using for loop
# With jump
# using if-else

In [83]:
sum = 0
for i in range(11):
    sum += i
    
print(sum)

55